<div id="container">
  <h1>Login To Employee Data</h1>

  <input type="text" [(ngModel)]="form.username" placeholder="Username" />
  <input type="password" [(ngModel)]="form.password" placeholder="Password" />

  <button (click)="login()" >Login</button>
</div>
