<div>

    <h2>Welcome User,</h2>
    <hr size="6px" style="color: crimson;">


  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Employee List Page</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <button
            class="btn btn-outline-success"
            data-bs-toggle="modal"
            data-bs-target="#addEmployee"
            type="submit"
          >
            Add Employee
          </button>
          <div >
           
            <input 
            placeholder="Search"
              [(ngModel)]="search"
              (ngModelChange)="onSearch($event)"
              type="text"
              class="form-control"
              id="search"
              aria-describedby="search"
            />
          </div>
        </div>
      </div>
    </nav>
  
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Employee ID</th>
          <th scope="col">Name</th>
          <th scope="col">Date Birth</th>
          <th scope="col">Email</th>
          <th scope="col">Basic Salary</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of filteredEmpList">
          <td>{{ employee.id }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.date }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.salary | currency : "Rp " : "symbol" : "3.0" }}</td>
          <td>
            <button
              type="button"
              class="btn btn-outline-primary me-2"
              data-bs-toggle="modal"
              data-bs-target="#editEmployee"
              (click)="editEmployee(employee)"
            >
              Edit
            </button>
            <button
              type="button"
              class="btn btn-outline-danger"
              (click)="deleteEmployee(employee)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <!-- Add employee modal -->
    <div
      class="modal fade"
      id="addEmployee"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 id="addemployee" class="modal-title" id="exampleModalLabel">
              Add new Employee
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="empDetail">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Name </label>
                <input
                  type="text"
                  formControlName="name"
                  class="form-control"
                  id="name"
                  aria-describedby="emailHelp"
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email </label>
                <input
                  type="email"
                  formControlName="email"
                  class="form-control"
                  id="email"
                  aria-describedby="emailHelp"
                />
              </div>
              <div class="mb-3">
                <label> Birth Date </label>
                <input style="padding: 10px 10px; margin-left: 8px;" type="date" formControlName="date" [max]="maxBirthDate" />
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">
                  Basic Salary
                </label>
                <input
                style="padding: 5px 5px; margin-left: 8px"
                  type="number"
                  formControlName="salary"
                  class="form-control"
                  id="email"
                  aria-describedby="emailHelp"
                />
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                  (click)="addEmployee()"
                >
                  Add employee
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Edit employee modal -->
    <div
      class="modal fade"
      id="editEmployee"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Edit employee details
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="empDetail">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Name </label>
                <input
                  type="text"
                  formControlName="name"
                  class="form-control"
                  id="name"
                  aria-describedby="emailHelp"
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email </label>
                <input
                  type="email"
                  formControlName="email"
                  class="form-control"
                  id="email"
                  aria-describedby="emailHelp"
                />
              </div>
              <div class="mb-3">
                <label> Birth Date </label>
                <input style="padding: 10px 10px; margin-left: 8px;" type="date" formControlName="date" [max]="maxBirthDate" />
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">
                  Basic Salary
                </label>
                <input
                  type="number"
                  formControlName="salary"
                  class="form-control"
                  id="email"
                  aria-describedby="emailHelp"
                />
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="button"
                  class="btn btn-outline-success"
                  (click)="updateEmployee()"
                  data-bs-dismiss="modal"
                >
                  Update
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
